<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
        <title>{% block title %}{{title}}{% endblock %}</title>
{% block stylesheets %}
        <link href="{{ asset("bundles/myprojectmain/css/main.css") }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset("bundles/myprojectmain/css/black.css") }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset("bundles/myprojectmain/css/template.css") }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset("bundles/myprojectmain/css/fancybox/fancybox.min.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% javascripts '@MyProjectMainBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@MyProjectMainBundle/Resources/public/js/fancybox/*' %}
        <script src="{{ asset_url }}"></script>
{% endjavascripts %}

    </head>

    <body>

        <div class="page_margins">

            <div id="header">

                <div class="gainlayout" id="logo">

                    <h2><a title="&quot;Стиль&quot;" href="">"Jewerly"</a></h2>

                </div>

                <div class="gainlayout" id="topmenuwrap">
                    <div class="gainlayout" id="topmenu">
                        <div class="moduletable_menu">

                            <ul class="menu">
                                <li class="item-101">
                                    <a href="{{ path('MyProjectMainBundle_homepage') }}">Главная</a>
                                </li>
                                <li class="item-111">
                                    <a href="{{ path('MyProjectMainBundle_contacts') }}">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="clear"></div>

            <div class="page">
                <div id="main">

                    <div id="col1">
                        <div id="col1_content">

                         {% block sidebar %}
                            {% render "MyProjectMainBundle:Sidebar:index" with { slug: slug } %}
                         {% endblock %}

                        </div>
                    </div>
                    <div id="col3">

                        <div id="col3_content">

                            {% block body %}
                                  <div>Главная</div>
                            {% endblock %}

                        </div>
                        <!-- IE Column Clearing -->
                        <div id="ie_clearing"> &#160;</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div id="footer_line">
                <span class="footer_text">sssssssssss</span>
            </div>
        </div>


            </body>
        </html>
